@use "sass:map";

header {
  background-color: map.get($theme-colors, "white");
  color: map.get($theme-colors, "white");

  @media (min-width: 992px) {
    .container {
      display: none;
    }
  }
}
